.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 33px;
}

.headerButton {
  border: none;
  background-color: transparent;
  color: #83888f;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Более специфичные селекторы */
.headerButton {
  border: none;
  background-color: transparent;
  color: #83888f;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footerHover:hover {
  color: #fff !important;
}

.headerHover:hover {
  color: #333d4b !important;
}

@media (max-width: 768px) {
  //577
  .buttonsContainer {
    display: none;
  }
}
