.createYourPlanButton {
  width: 217px;
  height: 56px;
  border: none;
  border-radius: 6px;

  color: #fefcf7;
  text-align: center;
  font-family: "Fraunces";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 138.889% */
  grid-column: 1/2;
  cursor: pointer;
}

@media (hover: hover) {
  .createYourPlanButton:hover {
    background: #66d2cf;
    transition: 0.5s;
  }
}

@media (hover: none) {
  .createYourPlanButton {
    background: #0e8784;
  }
}

@media (max-width: 576px) {
  .createYourPlanButton {
    font-size: 16px;
  }
}
