.firstBlock {
  padding: 137px 85px;
  display: grid;
  grid-template-columns: 35% 1fr;
  background-image: url("../../assets/plan//desktop/image-hero-blackcup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-sizing: border-box;
}

.firstBlockTitle {
  margin: 0;
  color: #fefcf7;
  font-family: "Fraunces";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px; /* 100% */
  grid-column: 1/2;
}

.firstBlockDescr {
  padding-top: 32px;
  margin: 0;
  color: #fefcf7;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.8;
  grid-column: 1/2;
}

.stepsContainer {
  margin-top: 67px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 95px;
}

.secondBlock {
  margin-top: 10%;
  padding: 100px 85px;
  background-color: #2c343e;
  border-radius: 10px;
}

.lineContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.oval {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #0e8784;
  z-index: 100;
}

.line {
  position: absolute;
  left: 11.6%;
  display: block;
  width: 57%;
  height: 2px;
  background-color: #fdd6ba;
  z-index: 1;
}

.stepNumber {
  margin: 0;
  color: #fdd6ba;
  font-family: "Fraunces";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px; /* 100% */
}

.stepTitle {
  padding-top: 38px;
  margin: 0;
  color: #fefcf7;
  font-family: "Fraunces";
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
}

.stepDescr {
  padding-top: 42px;
  margin: 0;
  color: #fefcf7;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.thirdBlock {
  padding: 10% 85px;
  display: grid;
  grid-template-columns: 20% 1fr;
  column-gap: 125px;
}

.formSteps {
  position: sticky;
  top: 50px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  grid-row: 1/5;
  margin-bottom: 8%;
}

.formStepTitle {
  color: #d5d5d4;
  font-family: "Fraunces";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 133.333% */
  cursor: pointer;
}

.formStepNumber {
  margin-right: 29px;
  color: #d5d5d4;
  font-family: "Fraunces";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 133.333% */
}

.formStepDivider {
  display: block;
  width: 100%;
  height: 1px;
  opacity: 0.25;
  background: #83888f;
}

.formOptionsContainer {
  margin: 26px 0;
  display: flex;
  flex-direction: column;
  gap: 56px;
  grid-column: 2/3;
}

.formOption {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.formOptionsTitle {
  margin: 0;
  color: #d5d5d4;
  font-family: "Fraunces";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 120% */
  user-select: none;
}

.formOptionBoxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 23px;
}

.formOptionBox {
  padding: 32px 28px;
  background-color: #f4f1eb;
  border-radius: 8px;
  height: 200px;
  cursor: pointer;
}

@media (hover: hover) {
  .formOptionBox:hover {
    background-color: #fdd6ba;
    transition: 0.3s;
  }
}

@media (hover: none) {
  .formOptionBox:hover {
    background-color: #f4f1eb;
  }
}

.formOptionBoxTitle {
  padding-bottom: 24px;
  margin: 0;
  color: #333d4b;
  font-family: "Fraunces";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 133.333% */
}

.formOptionBoxDescr {
  margin: 0;
  color: #333d4b;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none;
}

.orderSummaryContainer {
  margin-top: 84px;
  padding: 48px;
  background-color: #2c343e;
  border-radius: 10px;
  grid-column: 2/3;
}

.orderSummaryTitle {
  margin: 0;
  color: #fff;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  text-transform: uppercase;
  opacity: 0.5037;
}

.orderSummaryDescr {
  padding-top: 8px;
  margin: 0;
  color: #fff;
  font-family: "Fraunces";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 166.667% */
}

.createYourPlanButton {
  display: flex;
  justify-content: end;
  grid-column: 2/3;
}

@media (max-width: 1439px) {
  //1201
  .firstBlock {
    grid-template-columns: 50% 1fr;
  }

  .lineContainer {
    width: 78%;
  }

  .line {
    left: 13.6%;
    width: 56%;
  }

  .thirdBlock {
    padding: 10% 85px;
    display: grid;
    grid-template-columns: 27% 1fr;
    column-gap: 85px;
  }

  .formOptionsTitle {
    font-size: 33px;
  }

  .formOptionBoxes {
    column-gap: 18px;
  }

  .formOptionBox {
    padding: 32px 18px;
  }
}

@media (max-width: 1200px) {
  //993

  .firstBlock {
    grid-template-columns: 60% 1fr;
  }

  .lineContainer {
    width: 75%;
  }

  .line {
    left: 11.4%;
    width: 57%;
  }

  .secondBlock {
    margin-top: 10%;
    padding: 80px 45px;
    background-color: #2c343e;
    border-radius: 10px;
  }

  .stepsContainer {
    margin-top: 67px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
  }

  .thirdBlock {
    padding: 10% 38px;
    column-gap: 50px;
    grid-template-columns: 27% 1fr;
  }

  .formStepNumber {
    margin-right: 11px;
  }

  .formStepTitle {
    font-size: 21px;
  }

  .formOptionsTitle {
    font-size: 29px;
  }

  .orderSummaryContainer {
    margin-top: 62px;
    padding: 34px;
  }

  .orderSummaryDescr {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  //769

  .firstBlock {
    grid-template-columns: 1fr;
    background-image: url("../../assets/plan/tablet/image-hero-blackcup.jpg");
  }

  .lineContainer {
    width: 78%;
  }

  .line {
    left: 13%;
    width: 57%;
  }

  .stepTitle {
    font-size: 28px;
  }

  .formSteps {
    display: none;
  }

  .thirdBlock {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  //577

  .firstBlock {
    padding: 137px 45px;
    grid-template-columns: 1fr;
    background-image: url("../../assets/plan/mobile/image-hero-blackcup.jpg");
  }

  .lineContainer {
    display: none;
  }

  .stepsContainer {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 56px;
  }

  .stepTitle {
    padding-top: 24px;
  }

  .stepDescr {
    padding-top: 24px;
  }

  .formOptionsTitle {
    font-size: 24px;
  }

  .orderSummaryDescr {
    font-size: 20px;
  }

  .formOptionBoxes {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  .formOptionBox {
    text-align: center;
    height: auto;
  }

  .formOptionBoxTitle {
    padding-bottom: 8px;
  }

  .formOptionsContainer {
    gap: 38px;
  }
}

@media (max-width: 576px) {
  .firstBlock {
    padding: 101px 24px;
  }

  .firstBlockTitle {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }

  .firstBlockDescr {
    padding-top: 22px;
    text-align: center;
  }

  .secondBlock {
    padding: 69px 24px;
  }

  .thirdBlock {
    padding: 10% 18px;
  }

  .formOption {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 8%;
    gap: 24px;
  }

  .formOptionsTitle {
    text-align: start;
    line-height: 30px;
  }

  .orderSummaryContainer {
    margin-top: 31px;
    padding: 24px;
  }

  .orderSummaryDescr {
    font-size: 17px;
    line-height: 28px; /* 166.667% */
  }

  .createYourPlanButton {
    display: flex;
    justify-content: center;
  }
}
